<h2>Reactives: <small>Dinamics</small></h2>
<hr>


<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="save()" >
    
    <!--Name-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Name</label>
        <div class="col-sm-9">
            <input class="form-control"
                   formControlName="name"
                   placeholder="Person's name"
            >
            <span class="form-text text-danger"
                  *ngIf="fieldIsValid('name')"
            >Field is required and must be greater than two letters</span>
        </div>
    </div>

    <!--Add-->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Add</label>
        <div class="col-sm-9">

            <div class="input-group mb-3">
                <input class="form-control"
                   placeholder="Add favorite"
                   
                >

                <button class="btn btn-outline-primary"
                        type="button"
                        
                >Add</button>
            </div>
        </div>
    </div>

    
    <!-- Play's list favorite -->
    <div class="mb-3 row">
        <label class="col-sm-3 col-form-label">Favorites</label>
        <div class="col-sm-9" formArrayName="favorites">

            <div class="input-group mb-1"
                *ngFor="let favorite of favoritesArr.controls; let i = index"    
            >
                <input  
                    class="form-control"
                    [formControlName]="i"
                >
                
                <button class="btn btn-outline-danger"
                        type="button"
                >Delete</button>
            </div>  
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <button type="submit"
                    class="btn btn-primary float-end"
                    [disabled]="myForm.invalid"
            >
                Save
            </button>
        </div>
    </div>
</form>

<!-- 
<span>Person</span>
<pre>{{ person | json }}</pre> -->

<div class="row">
    <div class="col">

        <span>Valid</span>
        <pre>{{ myForm.valid }}</pre>

        <span>Pristine</span>
        <pre>{{ myForm.pristine }}</pre>
        
        <span>Touched</span>
        <pre>{{ myForm.touched }}</pre>

        <span>Value</span>
        <pre>{{ myForm.value | json }}</pre>

    </div>
</div>